<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class="about-title" style="margin-bottom: 3rem;">Контакты</h1>
    <div class="contacts-container">
        <form>
            <input type="text" name="name" placeholder="Имя">
            <input type="text" name="email" placeholder="Почта">
            <textarea name="message" placeholder="Сообщение"></textarea>
            <button type="submit">Отправить</button>
        </form>
        <div class="form-text">
            <h2>Связь с CodeTypes 24/7</h2>
            <p style="margin-bottom: 3rem;">Мы прислушиваемся к нашим пользователям</p>
            <div class="form-img">
                <img src="/images/pngwing.com(6).png" alt="" width="300">
            </div>
        </div>
    </div>
</body>
</html>