                <span class="main-title">CodeTypes</span>
                <h1>От 0 до 1 – печатай быстрее, чем мыслишь!</h1>
                <div class="main-image">
                    <img src="images/pngwing.com(5).png" alt="..." width="1000">
                </div>

                <section class="language-selection">
                    <h2 class="section-title">Выбери свой язык программирования</h2>
                    <div class="language-cards">
                        <div class="lang-item">
                            <h2>JavaScript</h2>
                            <p>JavaScript — мультипарадигменный язык программирования. Поддерживает объектно-ориентированный, императивный и функциональный стили.</p>
                            <button class="lang-button" data-lang="Js">Выбрать</button>
                        </div>
                        <div class="lang-item">
                            <h2>Python</h2>
                            <p>Python — высокоуровневый язык программирования общего назначения с динамической строгой типизацией и автоматическим управлением памятью.</p>
                            <button class="lang-button" data-lang="Python">Выбрать</button>
                        </div>
                        <div class="lang-item">
                            <h2>Java</h2>
                            <p>Java — строго типизированный объектно-ориентированный язык программирования общего назначения.</p>
                            <button class="lang-button" data-lang="Java">Выбрать</button>
                        </div>
                        <div class="lang-item">
                            <h2>C#</h2>
                            <p>C# — объектно-ориентированный язык программирования, разработанный компанией Microsoft под руководством Андерса Хейлсберга.</p>
                            <button class="lang-button" data-lang="Cs">Выбрать</button>
                        </div>
                        <div class="lang-item">
                            <h2>Ruby</h2>
                            <p>Ruby — динамический, рефлективный, интерпретируемый язык высокого уровня с открытым исходным кодом.</p>
                            <button class="lang-button" data-lang="Ruby">Выбрать</button>
                        </div>
                        <div class="lang-item">
                            <h2>PHP</h2>
                            <p>PHP — скриптовый язык общего назначения, интенсивно используемый для разработки веб-приложений.</p>
                            <button class="lang-button" data-lang="php">Выбрать</button>
                        </div>
                    </div>
                </section>
                <section class="section-slider">
                    <h1 class="slider-title">Особенности обучения на CodeTypes</h1>
                    <div class="prev-btn">← </div>
                    <div class="next-btn">→</div>
                    <div class="slider">
                        <div class="slider-item active-slide">
                            <h2>Интерактивность</h2>
                            <p>
                                 Сайт может предоставлять интерактивные упражнения, которые помогают пользователям практиковать навыки печати и улучшать их.
                            </p>
                        </div>
                        <div class="slider-item">
                            <h2>Удобство использования</h2>
                            <p>
                                Интуитивно понятный интерфейс и простота навигации по сайту могут упростить процесс обучения.
                            </p>
                        </div>
                        <div class="slider-item">
                            <h2>Доступность</h2>
                            <p>
                                Если сайт доступен 24/7, пользователи могут практиковать печать в любое время, где угодно.
                            </p>
                        </div>
                        <div class="slider-item">
                            <h2>Статистика</h2>
                            <p>
                                 Система может собирать статистику по скорости печати, ошибкам и другим метрикам, что может помочь пользователям понять, насколько они продвинулись.
                            </p>
                        </div>
                    </div>
                    
                </section>

                <section class="footer-section">
                    <h1 class="footer-title">Начни обучение прямо сейчас</h1>
                    <p class="footer-text">
                        Научиться печатать вслепую может каждый! Это полезный и не очень сложный в освоении навык, который сэкономит ваше время и сделает работу за компьютером более эффективной. Нет смысла отклыдывать, начните прямо сейчас
                    </p>
                    <button class="footer-button">
                        Начать обучение печати
                    </button>
                </section>